doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(rel="stylesheet", href="style.css")
  title Hello, world!
body 
    header

    main.main-home
        .home-bg 
            .container
                .row.text-primary 
                    .col-12.col-lg-5.mb-5 
                        .display-4.text-accent mindShaper
                .row.text-white 
                    .col-12.col-lg-5 
                        h1 Sourcing the Best Candidates for Your Organization
                        p.lead Whether you are an individual looking for a clinical position or an organization looking for qualified clinicians, PsychMatch is your partner in matching clinical positions with qualified individuals.
                        .row 
                            .col-6.col-xl-4
                                a.btn.btn-primary.w-100(href="#") Find Jobs 
                            .col-6.col-xl-4 
                                a.btn.btn-primary.w-100(href="#") Find Candidates 
        section.top-jobs
            .row.mx-auto.g-0 
                .col-12.col-lg-6.order-2.order-lg-1
                    .featured-img-wrapper 
                        img(src="./images/img1.png", alt="") 
                .col-12.col-lg-6.bg-primary.order-1.order-lg-2.p-5 
                    h3.mb-3 Top Candidates
                    ul.list-group.list-group-flush
                        li.list-group-item 
                            span.fw-bold.h5 CAN -1532 - 
                                span.fw-normal.h6  Seeking a position in Hall County, Georgia and the surrounding areas
                            ul
                                li.list-group-item EAP Therapist
                                li.list-group-item Can start immediately
                                li.list-group-item 5+ years experience
                                li.list-group-item Can see adults and children
                                li.list-group-item Receives continuous training
                        li.list-group-item
                            span.fw-bold.h5 CAN 1540 - 
                                    span.fw-normal.h6  IO Psychologists is Seeking a position in Ohio and the surrounding areas
                            ul
                                li.list-group-item Can start immediately
                                li.list-group-item Subject matter experts
                                li.list-group-item Organizer, Facilitator, Trainer
                                li.list-group-item 5+ years experience
                                li.list-group-item Video conferencing
                        li.list-group-item 
                            span.fw-bold.h5 CAN-1565 - 
                                span.fw-normal.h6  Psychiatrist 
                            ul
                                li.list-group-item Fully Licensed and Board Certified
                                li.list-group-item Expertise in substance use disorders
                                li.list-group-item Seeking Medical Directorship position
                                li.list-group-item Can start immediately
                                li.list-group-item TeleMed availability
                                li.list-group-item Can see children
                                li.list-group-item 5+ years experience
                    .row.justify-content-end
                        .col-6.col-md-4 
                            a.btn.btn-primary.w-100(href="#") View All 
        section.top-candidates 
            .row.mx-auto.g-0 
                .col-12.col-lg-6.bg-primary-dark.p-5
                    h3.mb-3 Top Jobs
                    ul.list-group.list-group-flush
                        li.list-group-item 
                            span.fw-bold.h5 JOB-7119 - 
                                span.fw-normal.h6  Behavioral Health Facility Looking for an onsite Medical Director- Psychiatrist
                            ul
                                li.list-group-item Immediate Need
                                li.list-group-item Hours TBD
                                li.list-group-item Dekalb County, GA
                        li.list-group-item
                            span.fw-bold.h5 JOB-7131 - 
                                    span.fw-normal.h6  Behavioral Health Facility looking for On-Site Nurse Practitioner or Physicians Assistant
                            ul
                                li.list-group-item Immediate Need
                                li.list-group-item Part-Time (8-10 hrs a week)
                                li.list-group-item Douglas County, GA
                        li.list-group-item 
                            span.fw-bold.h5 JOB-7133 - 
                                span.fw-normal.h6  Behavioral Health Facility Looking for an on-site Nurse Practitioner 
                            ul
                                li.list-group-item Immediate Need
                                li.list-group-item Hours TBD
                                li.list-group-item Dekalb County, GA
                    .row.justify-content-end
                        .col-6.col-md-4 
                            a.btn.btn-primary.w-100(href="#") View All
                .col-12.col-lg-6.order-2
                    .featured-img-wrapper 
                        img(src="./images/img2.png", alt="") 
        section.blog.py-5
            .container 
                .row.justify-content-center 
                    .col-6 
                        h3.mb-3.text-center Recent Articles 
                    
                .row 
                    .col-12.col-md-4 
                        .featured-img-wrapper 
                            img(src="./images/blogimg1.png", alt="")
                        a(href="#") The Role of the I/O Psychologist in Police Psychology
                            
                    .col-12.col-md-4 
                        .featured-img-wrapper 
                            img(src="./images/blogimg2.png", alt="")
                        a(href="") Community Policing Strategic Plan
                            
                    .col-12.col-md-4 
                        .featured-img-wrapper 
                            img(src="./images/blogimg3.png", alt="")
                        a(href="#") Policing and Procedural Justice
                          
    footer.py-3
        small.d-block.text-center Copyright 2021 mindMatch.com

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')

